/* Minecraft-like pixely font */
@font-face {
  font-family: minecraftia;
  src: url( 'minecraftia.ttf' );
}

/* General page style */

body {
  height: 100%;
  
  font-family: minecraftia;
  font-size: 16px;
 }
  .nojs {
    color: red;
    font-size: 25;
    font-family: minecraftia;
  }
	.mcbutton {
  background-image: url(nobutton.png);
  background-repeat: repeat;
  background-position: 50% 50%;
  font-family: minecraftia;
  font-size: 13px;
  background-image: url(nobutton.png);
  color: white;
  /* put the height and width of your image here */
  height: 30px;
  width: 150px;
  border: none;
}
.mcbutton:hover {
    background-image: url(button.png);
  background-repeat: repeat;
  background-position: 50% 50%;
  font-family: minecraftia;
  font-size: 13px;
  background-image: url(button.png); 
  color: yellow;
  /* put the height and width of your image here */
  height: 30px;
  width: 150px;
  border: none;
}
button span {
  display: none;
}
body  {
  background-image: url("stone.png");
  background-color: #cccccc;
}
  h1 {
  color: white;
 }
  body {
  color: white;
}
input[type=text] {
  font-family: minecraftia;
  font-size: 16px;
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #000000;
  color: white;